<div class="text-center">
  <h2>Admin, the speech!</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <%= simple_form_for @speech do |f| %>
        <%= f.input :title %>
        <%= f.input :date %>
        <%= f.input :country %>
        <%= f.input :city %>
        <%= f.input :category %>
        <%= f.input :content %>
        <%= f.input :duration %>
        <%= f.submit 'Edit', class: 'btn btn-primary', method: :patch %>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to 'index', admin_speeches_path %>
</div>
