<div class="text-center">
  <h2>Admin, add a new speech!</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <%= simple_form_for @speech, url: admin_speeches_path, method: :post do |f| %>
        <%= f.input :title %>
        <%= f.association :speaker, label_method: :full_name %>
        <%= f.input :date %>
        <%= f.input :country %>
        <%= f.input :city %>
        <%= f.association :category %>
        <%= f.input :content, as: :text %>
        <%= f.input :duration %>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to 'index', admin_speeches_path, class: 'btn btn-primary' %>
</div>
