<h2>Admin speech show page</h2>

<p><strong>Title: </strong><%= @speech.title %></p>
<p><strong>Speaker: </strong><%= link_to @speech.speaker.full_name, admin_speaker_path(@speech.speaker) %></p>
<p><strong>Category: </strong><%= @speech.category.name %></p>

<p><strong>Content: </strong><%= @speech.content %></p>

<div class="text-center">
  <%= link_to 'index', admin_speeches_path, class: 'btn btn-primary' %>
  <%= link_to 'edit', edit_admin_speech_path(@speech), class: 'btn btn-primary' %>
  <%= link_to 'delete', admin_speech_path(@speech), method: :delete, class: 'btn btn-primary' %>
</div>

Contributions:
<ul>
  <% @speech.contributions.each do |contribution| %>
  <li>
    <%= "#{contribution.user}: #{contribution.content}" %>(<%= link_to "Delete", admin_contribution_path(contribution), method: :delete %>)
    <ul>  
      <% contribution.comments.each do |comment| %>
        <li>
          <%= "#{comment.user}: #{comment.content}" %>(<%= link_to "Delete", admin_comment_path(comment), method: :delete %>)
        </li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>