<div class="container text-center">
  <div class="speaker-card">
    <div class="speaker-avt">
      <div class="speaker-avatar-small"></div>
      <div class="speaker-flag"><i class="fas fa-flag"></i></div>
    </div>
    <div class="speaker-card-body">
      <div class="speaker-info">
        <h2><%= @speaker.full_name %></h2>
        <p>(<%= @speaker.date_of_birth.to_date %>)</p>
        <p>bio <%= @speaker.bio %></p>
        <p><%= @speaker.speeches.last.title unless @speaker.speeches.empty? %></p>
      </div>
      <div class="speaker-stats">
        <div class="speaker-contributions-tot">
          <p><i class="far fa-comment-alt"></i> <%= @speaker.total_stats[:contributions] %></p>
        </div>
        <div class="speaker-comments-tot">
          <p><i class="far fa-comment"></i> <%= @speaker.total_stats[:comments] %></p>
        </div>
        <div class="speaker-votes-tot">
          <p><i class="far fa-thumbs-up"></i> <%= @speaker.total_votes %></p>
        </div>
      </div>
    </div>
  </div>
</div>
