<div class="blog-card alt margin-t-20">
  <div class="meta">
    <div class="photo" style="background-image: url(<%= cl_image_path speech.speaker.photo %>)"></div>
    <ul class="details">
      <li class="author tags"><%= link_to speech.speaker.full_name, speaker_path(speech.speaker)%></a></li>
    </ul>
  </div>
  <div class="description">
    <h1><%= speech.title %></h1>
    <h2 class="margin-kill"><%= speech.date.strftime("%d.%m.%Y") %></h2>
    <div class="stats">
      <div class="read-more">
        <a href="/speeches/<%= speech.id %>">Read speech</a>
      </div>
      <p><i class="far fa-comment-alt"></i> <%= speech.total_stats[:contributions] %></p>
      <p><i class="far fa-comment"></i> <%= speech.total_stats[:comments] %></p>
      <p><i class="fas fa-sort voting-item"></i> <%= speech.total_votes %></p>
    </div>
  </div>
</div>
