<ul class="comments">
  <div class="btn btn-ghost btn-show-c"><%= render "components/contributionIndicator", contribution: contribution %></i></div>
  <div class="hideDivContributions" id="uui-<%= contribution.selection_uui %>">
    <li class="comment">
      <a href="#" title="View this user profile" class="photo"><%= image_tag "#{contribution.user.photo_url}", class: "user-avatar-extra-small" %></a>
      <div class="meta">
        <%= contribution.user.username %> | <%= contribution.created_at.strftime("%d.%m.%Y - %H:%M") %>
      </div>
      <div class="body-and-voting">
        <div class="body padding-l5 padding-r10 text-justify">
          <%= contribution.content %>
        </div>
        <div class="contribution-voting text-center">
            <%= link_to contribution_upvote_path(contribution), method: :post, remote: true do %>
              <i class="fas fa-sort-up voting-item" id="contribution-upvote-<%= contribution.id %>"></i>
            <% end %>
            <p id="contribution-vote-count-<%= contribution.id %>"><%= contribution.vote_sum %></p>
            <%= link_to contribution_downvote_path(contribution), method: :post, remote: true do %>
              <i class="fas fa-sort-down voting-item"></i>
            <% end %>
        </div>
      </div>
      <div class="btn btn-ghost btn-show">Comments <i class="far fa-arrow-alt-circle-down"></i></div>
    </li>
  </div>
  <div class="hideDivComments">
    <% contribution.comments.reverse.each do |comment|%>
      <li class="comment level-2">
        <a href="#" title="View this user profile" class="photo"><%= image_tag "#{comment.user.photo_url}", class: "user-avatar-extra-small" %></a>
        <div class="meta"><%= comment.user.username %> | <%= comment.created_at.strftime("%d.%m.%Y - %H:%M") %></div>
        <div class="body-and-voting">
          <div class="body">
            <%= comment.content %>
          </div>
          <div class="contribution-voting text-center">
            <%= link_to comment_upvote_path(comment), method: :post, remote: true do %>
              <i class="fas fa-sort-up voting-item"></i>
            <% end %>
            <p id="comment-vote-count-<%= comment.id %>"><%= comment.vote_sum %></p>
            <%= link_to comment_downvote_path(comment), method: :post, remote: true do %>
              <i class="fas fa-sort-down voting-item"></i>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    <% if current_user %>
      <li class="comment level-2">
        <a href="#" title="View this user profile" class="photo"><%= image_tag "#{current_user.photo_url}", class: "user-avatar-extra-small" %></a>
        <div class="meta"><%= current_user.username %></div>
        <div class="body-and-voting">
          <div class="body">
            <% comment = Comment.new %>
            <%= form_for comment, url: contribution_comments_path(contribution), method: :post do |f| %>
              <%= f.text_area :content, class: "body-comment border-r3" %>
              <div class="submit-form">
                <%= f.submit 'Submit', style: "border: none" %>
              </div>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </div>
</ul>