<div class="navbar-lewagon">
    <div class="">
      <%= link_to image_tag("speechless-logo-2.png", :class => "logo", :alt => "logo ghostwords"), root_path %>
    </div>
    <div>
      <%= form_tag speeches_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a speech"
        %>
        <% end %>
    </div>

  <div class="navbar-lewagon-actions d-none d-sm-flex">
    <%= link_to "Browse speeches", speeches_path, class: "navbar-lewagon-link" %>
    <!-- <%= link_to "Dashboard", '#', class: "navbar-lewagon-link" %> -->
    <div class="badge-container">
    </div>
    <div class="dropdown">
      <img src='https://res.cloudinary.com/lepetitbelge/image/upload/v1550691453/photo-lily-467004-unsplash.jpg' class="job-card-avatar dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Account</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Settings</a>
          <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Log out</a>
        </div>
     </div>
  </div>
</div>
