<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="banner-wrapper">
        <div class="video_banner margin-t-20">
          <%= video_tag("https://res.cloudinary.com/lepetitbelge/video/upload/v1551798807/Speechless.mp4", autoplay: true) %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-5 col-md-offset-1">
      <div>
        <div class="card-header">
          <h4>All Time Greatest Speeches</h4>
        </div>
        <% @all_time_speeches.each do |speech| %>
          <%= render "components/speech_card", speech: speech %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6 col-md-5">
      <div>
        <div class="card-header">
          <h4>Trending Speeches</h4>
        </div>
        <% @trending_speeches.each do |speech| %>
          <%= render "components/speech_card", speech: speech %>
        <% end %>
        <h5 class="see-more">
          <%= link_to "See all speeches >", speeches_path %>
        </h5>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>

<script>

const transitionToWordcloud = () => {
  const videoPlayer = document.querySelector("video");
  const homePageBanner = document.querySelector(".video_banner");

  videoPlayer.addEventListener("ended", (event) => {
    homePageBanner.setAttribute("id", "photo_banner");
    homePageBanner.removeChild(videoPlayer);
    homePageBanner.classList.remove("video_banner", "margin-t-20")
  });
};

transitionToWordcloud()

</script>
