<%= render 'shared/navbar' %>
<%= render 'components/search_page_banner' %>

<% if @results.nil? %>
  <h4>Speeches:</h4>
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <% @speeches.each do |speech| %>
          <%= link_to speech_path(speech) do %>
            <%= render "components/speech_card", speech: speech %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <h4>Speakers:</h4>
  <ul>
    <% @speakers.each do |speaker| %>
      <li><%= link_to speaker.full_name, speaker_path(speaker) %></li>
    <% end %>
  </ul>
<% else %>

  <% @results.each do |result| %>
    <%= result.searchable %>
  <% end %>
<% end %>




