<div class="tryout" style="height: 50px;width: 100%;background-color: white;"></div>
<div class="navbar-lewagon">
  <div class="">
    <%= link_to 'Speechless', root_path, class: 'logo' %>
  </div>
<!--   <div class="nav-search">
    <%= form_tag speeches_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control nav-search-bar",
        placeholder: "Search"
      %>
    <% end %>
  </div> -->
  <div class="navbar-lewagon-actions d-none d-sm-flex">
    |
    <%= link_to "Browse speeches", speeches_path, class: "navbar-lewagon-link" %>
    |
    <%= link_to "Dashboard", '#', class: "navbar-lewagon-link" %>
    |
    <div class="badge-container">
    </div>
    <div class="dropdown">
      <img src='https://res.cloudinary.com/lepetitbelge/image/upload/v1550691453/photo-lily-467004-unsplash.jpg' class="job-card-avatar dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% if current_user %>
            <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Account</a>
            <a class="dropdown-item" data-method="delete" href="/users/sign_out"><i class="fas fa-sign-out-alt"></i> Log out</a>
          <% else %>
            <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Log in</a>
          <% end %>
        </div>
     </div>
  </div>
</div>
<div class="ss text-center">
    <%= form_tag speeches_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control results-search",
        placeholder: "Search"
      %>
    <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-md-6 col-md-offset-1">
      <div class="card-header">
        <h4>Speech Results</h4>
      </div>
      <div>
        <% @speeches.each do |speech| %>
          <%= render "components/speech_card", speech: speech %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4 col-md-3 col-md-offset-1">
      <div class="card-header speaker-header">
        <h4>Speaker Results</h4>
      </div>
      <div class="speaker-cards-container">
        <% @speakers.each do |speaker| %>
          <%= render "components/speaker_card", speaker: speaker %>
        <% end %>
      </div>
    </div>
  </div>
</div>
