<% content_for :meta_title, "Speechless - #{@speech.title}" %>
<% content_for :meta_description, @speech.title %>
<%= render 'shared/navbar' %>

<div class="container" >
  <div class="row">
    <div class="col-xs-12 margin-t-20">
      <p class="kill-margin"><%= @speech.category.name.upcase %></p>
    </div>
    <div class="col-xs-12">
      <div class="speaker-speech-banner margin-b-20">
        <div class="speaker-photo" style="background-image: url(<%= cl_image_path @speech.speaker.photo %>)"></div>
        <div class="speaker-info">

          <h2 class="kill-margin-top"><%= @speech.title %></h2>
          <h1 class="kill-margin-top"><%= link_to @speech.speaker.full_name, speaker_path(@speech.speaker) %></h1>
            <p id="speech-show-data-place">
              In <%= "#{(@speech.date ? ' ' : '')}#{@speech.location if @speech.location}" if @speech.location %> on <%= "#{@speech.date.strftime("%B %d, %Y")}" if @speech.date %>
            </p>
          <% if @info_summary %>
            <p><%= @info_summary.html_safe %></p>
          <% end %>
        </div>
        <div class="stats">
          <p><i class="far fa-comment-alt"></i> <%= @speech.total_stats[:contributions] %></p>
          <p><i class="far fa-comment"></i> <%= @speech.total_stats[:comments] %></p>
          <p><i class="fas fa-sort voting-item"></i> <%= @speech.vote_sum %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="container-progressbar">
  <div class="row">
    <div class="col-xs-12">
      <div class="speech-and-contributions">
        <div class="speech-text text-justify" id="speech-background">
          <p><%= @speech.content.html_safe %></p>
        </div>
        <div class="thread">
          <% if @speech.contributions %>
            <% @speech.contributions.reverse.sort_by(&:paragraph).sort_by(&:vote_sum).reverse.each do |contribution| %>
              <%= render "components/thread", contribution: contribution %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body mx-3">
        <div class="md-form">
          <%= simple_form_for [@speech, @contribution], class: "new_contribution" do |f| %>
            <%= f.input :selection_uui, as: :hidden %>
            <%= f.input :paragraph, as: :hidden %>
            <%= hidden_field_tag :speech_html %>
            <%= f.input :content, input_html: { rows: 5, placeholder: 'Share your knowledge here...' } %>
            <%= f.submit class: 'submit-button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
