<div>
  <h2>Speech show page</h2>
</div>

<div>
  <% if @speech.speaker %>
    <p><strong>Speaker: </strong><%= link_to @speech.speaker.full_name, speaker_path(@speech.speaker) %>
  <% end %>
  <p><strong>Title: </strong><%= @speech.title %></p>
  <p><strong>Category: </strong><%= @speech.category.name %></p>
  <p><strong>Content: </strong><%= @speech.content.html_safe %></p>
</div>

<div>
  <h2>Contributions: </h2>
  <% if @speech.contributions %>
  <ul>
    <% @speech.contributions.each do |contribution| %>
      <li>
        <%= "<strong>#{contribution.user.username}:</strong> #{contribution.content}<em><br>(#{contribution.created_at})<br>(from char no. #{contribution.start_position} to #{contribution.end_position})</em>".html_safe %>
        <p style="background-color: <%= %w[red grey green][contribution.user_vote(current_user) + 1] %>;">
          <%= link_to '+', contribution_upvote_path(contribution) %>
          <%= contribution.vote_sum %>
          <%= link_to '-', contribution_downvote_path(contribution) %>
        </p>
        <h5><strong>Comments: </strong></h5>
        <ul>
          <% contribution.comments.each do |comment|%>
            <li>
              <%= "<strong>#{comment.user.username}</strong> <em>commented</em> #{comment.content}<br>(#{comment.created_at})".html_safe %>
              <p style="background-color: <%= %w[red grey green][comment.user_vote(current_user) + 1] %>;">
                <%= link_to '+', comment_upvote_path(comment) %>
                <%= comment.vote_sum %>
                <%= link_to '-', comment_downvote_path(comment) %>
              </p>
            </li>
          <% end %>
          <br>
        </ul>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>

<div>
  <%= link_to 'index', speeches_path, class: 'btn btn-primary' %>
</div>
