<%= render 'shared/navbar' %>


<div>
  <h2>Need banner somewhere here</h2>
</div>

<div>
  <% if @speech.speaker %>
    <p><strong>Speaker: </strong><%= link_to @speech.speaker.full_name, speaker_path(@speech.speaker) %>
  <% end %>
  <p><strong>Title: </strong><%= @speech.title %></p>
  <p><strong>Category: </strong><%= @speech.category.name %></p>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="speech-background speech-text">
        <p><strong>Content: </strong><%= @speech.content.html_safe %></p>
      </div>
      <div class="thread">
        <h2>Contributions: </h2>
        <% if @speech.contributions %>
          <% @speech.contributions.each do |contribution| %>
            <%= render "thread", contribution: contribution %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to 'index', speeches_path, class: 'btn btn-primary' %>
</div>
