<%= render 'shared/navbar' %>
<%= render 'components/show_page_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2 class="show-page-title">
        <%= @speech.title %>
      </h2>
      <div class="speech-background speech-text text-justify">
        <p><%= @speech.content.html_safe %></p>
      </div>
      <div class="thread">
        <h2>Contributions: </h2>
        <% if @speech.contributions %>
          <% @speech.contributions.each do |contribution| %>
            <%= render "components/thread", contribution: contribution %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to 'index', speeches_path, class: 'btn btn-primary' %>
</div>
