<%= render 'shared/navbar' %>
<%= render 'components/show_page_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="show-page-title">
        <%= @speech.title %>
      </h2>
      <div class="speech-and-contributions">
        <div class="speech-background speech-text text-justify">
          <p><%= @speech.content.html_safe %></p>
        </div>
        <div class="thread">
          <% if @speech.contributions %>
            <% @speech.contributions.each do |contribution| %>
              <%= render "components/thread", contribution: contribution %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to 'index', speeches_path, class: 'btn btn-primary' %>
</div>
